* {
  margin: 0;
  padding: 0;
  border: 0;

}
.screen-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.menu-trigger {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 7vw;
  margin-left: -42vw;
  position: absolute;
}

.dropdown-container {
  width: 200px !important
}

small {
  margin-left: 3.5vw;
  font-weight: 700;
  font-size: 4vw;
  color: #2F4F4F;
}

.carousel-container {
  margin-left: 2vw;
  width: 96%;
  height: 55vw;
  border: 3px solid lightgray;
  border-radius: 13px;
  background-color: #9DEEE5;
}

.carousel_img {
  height: inherit;
  border-radius: 13px;
}

.products-container {
  margin-bottom: 7vw;
}

.product-container {
  width: 100vw;
  height: 15vw;
  display: flex;
}

.product-name {
  margin: 3vw 0 0 22vw;
  color: #2F4F4F;
  font-size: 5vw;
  font-weight: 500;
  position: absolute;
}

.product-price {
  font-size: 3vw;
  margin: 8vw 0 0 22vw;
  position: absolute;
}

.product_img {
  width: 17vw;
  height: 16vw;
  margin: 1vh 0 0 3.5vw;
  position: absolute;
}

.product-btn {
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  margin: 2vh 0 0 84vw;
  font-size: 4vw;
  background-color: #FF7F50;

  
}

.div_cant {
  width: 3.5vw;
  height: 3.5vw;
  margin-top: 0.5vw;
  font-size: 2.5vw;
  color: white;
  background-color: #1eb2a6;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
