.login-card {
    min-height: 60vh;
}

.registerMessage {
    margin-top: 10vh;
}
.btn-external-login {
    width: 100%;
    height: 48px;
    vertical-align: middle;
    overflow: hidden;
    margin-bottom: 16px;
    max-width: 360px;
    min-height: 48px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: rgb(70, 136, 241);
}
.btn-external-login.GoogleBtn {
  background: rgb(70.136,241);
}
.btn-external-login.LinkedInBtn{
  background: rgb(47,85,164);
}
.btn-external-login.MercadopagoBtn {
  background: rgb(13,180,120);
}
.btn-external-login.Auth0{
  background: rgb(228,81,35);
}
.btn-delilah{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fc885c;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 12px;
    padding-left: 45px;
    padding-right: 45px;
    outline:none;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }
  .form-delilah {
    border: none;
    
  }
  label{
    /* Color texto de las etiquetas */
    color: #606a70;
  }
  .form-control{
    color: #414d55;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
