@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
.h3{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
}
.bg-delilah{
  background-color: #3addda;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  

}
 