@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');

.navbar-delilah{
  background-color: #3addda;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 2vh; 
  justify-content: center;
  display: flex;
  align-items: center;
}
 
.navbar-title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 4.5vw;
  font-style: normal;
  color: #fff;
  font-weight: 800;
}