.btn-delilah{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fc885c;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 12px;
  padding-left: 45px;
  padding-right: 45px;
  outline:none;
  text-align: center;
  font-weight: 500;
}
.form-delilah {
  border: none;
  
}
label{
  /* Color texto de las etiquetas */
  color: #606a70;
}
.form-control{
  color: #414d55;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}